body {
  background-color: #DAF7F6;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 16px;
}

h1, h2, h3{
  color: #F16059;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

/***header***/
header {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  padding-left: 15px;
  margin: 0;
}

/***main***/
main {
  width: 1000px;
  margin: 0 60px;
}

.card {
  margin: 20px 0;
  overflow: auto;
}

.recipe {
  background-color: aliceblue;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  width: 500px;
  height: 550px;
}

/***images***/
.image {
  float: left;
  width: 500px;
  height: 550px;
}